Mateo Alves <maa1446@rit.edu>
Jett Moreno <jsm1032@rit.edu>
Antonio Golfo <ajg2848@rit.edu>
Filly Nieves <fn2926@g.rit.edu>
Filly Nieves <fn2926@GOL2435-16>
Maxwell Lucier <wilddude453@gmail.com>
Maxwell Lucier <59579441+MotorGorilla1@users.noreply.github.com>
Jett Moreno <bliotz.main@gmail.com>
Jett Moreno <Jsm1032@rit.edu>
